<nav class="bg-white">
    <div class="container-fluid py-4 px-4 px-lg-5 shadow-sm bg-white sticky-top">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Logo -->
            <a href="index.html" class="d-flex align-items-center">
                <img src="assets//icons/logo.svg" alt="Company Logo" width="53" height="30">
            </a>

            <!-- Hamburger (mobile) -->
            <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileSidebar"
                aria-controls="mobileSidebar">
                <svg xmlns="http://www.w3.org/2000/svg" class="bi" width="24" height="24" fill="currentColor"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M1 2.5a.5.5 0 0 1 .5-.5H14.5a.5.5 0 0 1 0 1H1.5a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5H14.5a.5.5 0 0 1 0 1H1.5a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5H14.5a.5.5 0 0 1 0 1H1.5a.5.5 0 0 1-.5-.5z" />
                </svg>
            </button>

            <!-- Desktop Nav -->
            <ul class="d-none d-lg-flex list-unstyled gap-4 mb-0 align-items-center">
                <li><a href="#" class="nav-link-hover text-decoration-none fw-medium position-relative">Shop
                        <span class="link-underline"></span>
                    </a></li>
                <li><a href="#" class="nav-link-hover text-decoration-none fw-medium position-relative">Solutions
                        <span class="link-underline"></span>
                    </a></li>
                <li><a href="#" class="nav-link-hover text-decoration-none fw-medium position-relative">Resources
                        <span class="link-underline"></span>
                    </a></li>
                <li><a href="#" class="nav-link-hover text-decoration-none fw-medium position-relative">About Us
                        <span class="link-underline"></span>
                    </a></li>
                <li><a href="#" class="nav-link-hover text-decoration-none fw-medium position-relative">Contact Us
                        <span class="link-underline"></span>
                    </a></li>
            </ul>

            <!-- Desktop Login Button -->
            <a href="#" class="btn btn-login text-white d-none d-lg-block">Login</a>
        </div>
    </div>
</nav>